.aws/config
.aws/credentials
.DS_Store
.envrc
.idea/
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform/
.terraformrc
.vscode/
*_override.tf
*_override.tf.json
*.backup
*.bak
*.cer
*.class
*.crash
*.env
*.envrc
*.iml
*.json
*.key
*.log
*.out
*.pem
*.pfx
*.plan
*.pyc
*.retry
*.sh~
*.swo
*.swp
*.tfexec.log
*.tfplan
*.tfstate
*.tfstate.*
*.tfstate.backup.*
*.tfvars
*.tfvars.json
*.tmp
**/.DS_Store
**/.Trash
**/desktop.ini
**/Thumbs.db
*~
config.auto.tfvars
crash.log
credentials
debug.tfplan
override.tf
override.tf.json
private_key.pem
provider_override.tf
provider.tf
provider.tfstate
secret.auto.tfvars
secrets.auto.tfvars
secrets.tfvars
terraform.rc
terraform.tfstate
terraform.tfstate.*
terraform.tfstate.backup
terraform.tfstate.backup.*
terraform.tfvars
terraform.tfvars.json
Thumbs.db
